{{e.title}}

<label for="firstname">First Name </label>
<input id="firstname" [(ngModel)]="e.firstname">
{{e.firstname}}
<br>
<label for="lastname">Last Name </label>
<input id="lastname" [(ngModel)]="e.lastname">
{{e.lastname}}
<br>
<label for="email">Email </label>
<input id="email" [(ngModel)]="e.email">
{{e.email}}
<br>
<label for="password">Password </label>
<input id="password" [(ngModel)]="e.password">
{{e.password}}
<br>
<label for="login">Login </label>
<input id="login" [(ngModel)]="e.login">
{{e.login}}
<br>

<br>
  <input type="submit" [disabled]="!e.valid" (click)="click()"  name="submit" id="submit">

